<div class="container">
  <div class="user_info">
    <h3><%= @user.name %></h3>
      <% if @user == current_user %>
        <%= button_to '編集',edit_user_registration_path , method: :get, :class => "btn btn-primary" %>
        <%= button_to '投稿する',root_path , method: :get, :class => "btn btn-primary" %>
      <% end %>
  </div>

  <br>
  <br>

  <% if @user.items.any? %>
    <div class="row">
      <ol class="items">
        <% @user.items.each do |item| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <%= render item %>
            </div>
          </div>
        <% end %>
      </ol>
    </div>
    <%= paginate @items %>
  <% end %>
</div>
