<div class="container">
  <br>
  <br>
  <br>
  <h2>投稿一覧</h2>
  <br>
  <%= search_form_for @search  do |f| %>
    <div class="form-group">
      <%= f.label :content_cont, "アイテム検索" %>
      <%= f.text_field :content_cont, class: "form-control",placeholder: "検索したいアイテム名、もしくはタグ名を入力して下さい" %>
    </div>
    <div class="actions"><%= f.submit "検索する" %></div>
  <% end %>
  <br>
  <br>

  <div class="row">
    <ol class="items">
      <div class="panel panel-default">
          <div class="panel-body">
            <% if @result.any? %>
              <%= render @result %>
            <% else %>
              <p>投稿がヒットしませんでした。</p>
            <% end %>
          </div>
      </div>
    </ol>
  </div>
  <%= paginate @result %>
</div>
