<div class="container">
  <br>
  <br>
  <br>
  <h2>投稿一覧</h2>
  <br>
  <%= search_form_for @search  do |f| %>
    <div class="form-group">
      <%= f.label :content_cont,  "アイテム検索" %>
      <%= f.text_field :content_cont, class: "form-control", placeholder: "検索したいキーワードを入力して下さい" %>
    </div>
    <div class="actions"><%= f.submit "キーワード検索する" %></div>
  <% end %>
  <div class="form-group">
    <%= form_tag('/items', :method => :get) do %>
      <%= text_field_tag :tag_list_cont,'', placeholder: '検索したいタグを入力して下さい', class: "form-control" %>
      <%= submit_tag 'タグ検索する', class: "form-control" %>
    <% end %>
  </div>
  <br>
  <br>

  <div class="row">
    <ol class="items">
      <div class="panel panel-default">
          <div class="panel-body">
            <% if params[:tag_list_cont].blank? %>
              <%= render @result %>
            <% else %>
              <%= render @tag_search %>
            <% end %>
          </div>
      </div>
    </ol>
  </div>
  <% if params[:tag_list_cont].blank? %>
    <%= paginate @result %>
  <% end %>
</div>
