<br>
<br>
<br>
<div class="items">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="circle-avatar">
        <% if @item.user.avatar? %>
          <%= image_tag @item.user.avatar.url %>
        <% else %>
          <img src="/images/no_avatar.jpg" alt="Chania">
        <% end %>
      </div>
      <%= link_to  @item.user.name, @item.user %>
      <br>
      <span class="content">
        <%= simple_format(@item.content) %>
      </span>
      <%= image_tag @item.picture.url if @item.picture? %>
      <br>
      <%= render 'items/tag_list', tag_list: @item.tag_list %>
      <br>
      <h3>いいね件数: <%= @item.likes.count %></h3>
      <% if user_signed_in? %>
        <% if current_user.already_liked?(@item) %>
          <%= button_to 'いいねを取り消す', item_like_path(@item), method: :delete, class: "btn btn-info btn-sm" %>
        <% else %>
          <%= button_to 'いいね', item_likes_path(@item), class: "btn btn-info btn-sm" %>
        <% end %>
      <% end %>
      <% if @item.liked_users? %>
        <h3>いいねしたユーザー</h3>
        <% @item.liked_users.each do |user| %>
          <li><%= link_to  user.name, user %></li>
        <% end %>
      <% end %>


      <% if @item.user == current_user %>
        <%= link_to '編集', edit_item_path , class: 'btn btn-primary mr-3' %>
        <%= link_to '削除', @item, method: :delete, data: { confirm: "投稿を削除してもよろしいですか？"},
                    class: "btn btn-primary mr-3" %>
      <% end %>
      <span class="timestamp">
        <br>
       <%= time_ago_in_words(@item.created_at) %> 前に投稿されました
      </span>
      <br>
      <div class="comment">
        <div id="comments_area">
          <%= render partial: 'comments/index', locals: {comments: @comments } %>
        </div>
        <% if user_signed_in? %>
          <%= render partial: 'comments/form', locals: { comment: @comment, item: @item } %>
        <% end %>
      </div>
    </div>
  </div>
</div>